# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
   - List popular languages for Data Science
   - List Commonly used Libaries used by Data Scientists
   - Make a table of Data Science Tools
   - execute simple arithmetic expressions in Python
   - Convert minutes to hours in python

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. C++

4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Tensor Flow

2. Pandas

3. ggplot

4. numpy

|Data Science Tools|
|------------------|
|Jupyter Labs|
|Apache zeppelin|
|R Studioâ€™s|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
 Flynn Fayman